body {
  background: #F5F5F0;
  color: black;
  font-family: Monaco;
}

.list-books-title {
  padding: 10px 50px;
  background: #823271;
  color: white;
  text-align: center;
  font-size: 16pt;
}

.book-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.book-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-author{
  font-size: 0.8em;
  text-align: center;
}

.book-delete {
    color: red;
    font-size: 0.8em;
    text-align: center;
}

.nav_bar,
.nav_bar a {
  color: white;
  font-size: 10pt;
}

.add-form {
  display: flex;
  justify-content: center;
}

.book-title {
  margin-top: 10px;
}


.book-author {
  color: #999;
}


.book-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 128px;
    height: 193px;
}

.search_sort_forms {
    display: flex;
    justify-content: space-between;
}

.search_text_button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2%;
}

#search {
 width: 300px;
}

input[type=text] {
  width: 100%;
}

